<div id="category-list">
    <div class="row">
        {{#each categories_list}}
        <div class="col-xl-2">
            <a class="left-nav" href="/cat?id={{idCat}}">
                <h5>{{category}}</h5>
            </a>
        </div>
        {{/each}}
    </div>
</div>