<div class="container mb-4">
    {{>store_nav}}
</div>
<div class="container">
    <div class="row justify-content-md-center">
        {{#each categories}}
        <h3>{{category}}</h3>
        <h5>{{description}}</h5>
        {{/each}}
    </div>
    <div class="row">
        {{#each goods}}
        <div class="col-xl-3">
            {{>card}}
        </div>
        {{/each}}
    </div>
</div>