<div class="container">
    <h1>Welcome</h1>
    <p class="lead mb-3">{{name}}</p>
    <a href="/" class="btn btn-primary mb-3">Music Store</a>
    <a href="/user/logout" class="btn btn-secondary mb-3">Logout</a>
</div>
